<h2>Movie details</h2>
<h3>{{title}}</h3>
<p>{{genre}}</p>
<p>{{plot}}</p>
{{#each cast}}
  <p>{{name}}</p>
  <p>{{genre}}</p>
  <p>{{catchPhrase}}</p>
{{/each}}

<form action="/movies/{{id}}/delete" method="POST">
  <button>Delete</button>
  <a href="/movies/{{id}}/edit">edit</a>
  <a href="/movies/{{id}}/edit" method="POST">Edit</a>
</form>